Django==6.0.3
django-simpleui==2026.1.13
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
APScheduler==3.11.2
mysqlclient==2.2.8
pillow==12.1.1
python-dotenv==1.2.2
google-genai==1.75.0
requests==2.33.1
PyMySQL==1.1.2
pycryptodome==3.21.1
